.heroRoot {
    background-color: #000;
    height: 100vh;
    overflow: hidden; 
}

.heroTextContent {
    max-width: 40%;
    padding-top: 100px;
    margin: auto;
    text-align: center;
    color: #FFF;
}

.heroTextContent h1 {
    font-size: 35px;
    margin-bottom: 5px;
}

.heroTextContent h4 {
    font-size: 25px;
    margin-bottom: 8px;
}

.heroTextContent p {
    font-size: 20px;
}

.resumeBtn {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 30px;
}

.desktopModal {
    height: 500px;
    margin: auto;
}

