.heroRoot {
    background-color: #000;
    position: relative;
    height: 100vh;
    overflow: hidden; 
    background-image: url('background-hero.jpg');
}

.heroRoot::before {
    content: '';  
    position: absolute;    
    top: 0;
    left: 0;  
    right: 0;  
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.960); 
    z-index: 1; 
    pointer-events: all;
}

.heroTextContent {
    position: relative;
    z-index: 2;
    max-width: 40%;
    padding-top: 100px;
    margin: auto;
    text-align: center;
    color: #FFF;
}

.heroTextContent h1 {
    font-size: 35px;
    margin-bottom: 5px;
}

.heroTextContent h4 {
    font-size: 25px;
    margin-bottom: 8px;
}

.heroTextContent p {
    font-size: 20px;
}

.resumeBtn {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 30px;
}

.desktopModal {
    position: relative;
    z-index: 2;
    height: 500px;
    margin: auto;
}

